.product-category a {
    box-shadow: none;
}
.product-category.product {
    height: 403px;
    justify-content: center;
}

.product-category a img {
    width: 435px;
    height: 300px;
    object-fit: contain;
}

.woocommerce-loop-category__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
}
.product-category a:hover {
    color: #5696AF;
}
.product-category a img {
    margin-bottom: 25px;
}
.product:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}